
.login{
    background-color: #E9F0F8;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    .body{
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        width: 95%;
        height: 90%;
        display: flex;
        border-radius:30px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
        .portada {
            width: 70%;
            height: 100%;
            border-radius:20px 0 0 20px;
            .img{
                max-width: 100%;
                height: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius:20px 0 0 20px;


            }
            .margin-buttons{
                background-color: transparent;
                width: 100%;
                height: 110px;
                position: relative;
                display: flex;
                flex-direction: row-reverse;
                top:-55%;

                .buttons{
                    background-color: transparent;
                    width: 120px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__login{
                        background-color: #1AA9E1;
                        width: 100%;
                        height: 48%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 45px 0 0 45px;
                        @include transition-ease(0.1s);
                        span{
                            font-family: Roboto, 'Trebuchet MS', sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                            color: #ffffff;
                        }

                        &.active{
                            background-color: #ffffff;
                            span{
                                color: #000000;
                            }
                        }


                    }
                    &__about{
                        background-color: #1AA9E1;
                        width: 100%;
                        height: 48%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 45px 0 0 45px;
                        @include transition-ease(0.1s);
                        span{
                            font-family: Roboto, 'Trebuchet MS', sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                            color: #ffffff;
                        }

                        &.active{
                            background-color: #ffffff;
                            span{
                                color: #000000
                            }
                        }
                    }

                }
            }

        }
        .space{
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            border-radius:0 20px 20px 0;
            @include transition-ease(0.1s);

            .pad_logo{

                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 40px;
                margin-top: 50px;
                img{
                    max-width: 80%;
                    height: 150px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &__form{
                display: flex;
                flex-direction: column;
                width: 70%;
                height: 90;


                h1{
                    font-size: 1.8rem;
                }
                .pad_button{
                    display: flex;
                    justify-content: center;
                    button{
                        padding: 12px 24px;
                        font-size: 16px;
                        background-color: #1AA9E1;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
                        transition: background-color 0.3s;
                        &:hover{
                            background-color: #2195c4;
                        }
                        &:focus{
                            outline: none;
                        }
                        &:active{
                            background-color: #3e8e41;
                        }
                    }
                }

            }

            &__information{
                width: 100%;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .siguenos{
                    display: flex;
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .linea{
                        width: 20%;
                        height:20px;
                        border-bottom: 1px solid #C0BFC1;

                    }
                    .paragraph{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30%;
                        height:40px;

                        p{
                            margin-top: 15px;

                            color: #C0BFC1;
                        }
                    }
                }

                .social-media{
                    width: 70%;
                    height: 80px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    a{
                        cursor: pointer;
                    }
                    .icon{
                        width: 50px;
                        height: 50px;
                        border: 1.5px solid rgba(207, 206, 211, 0.705);
                        border-radius: 10px;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
                        transition: background-color 0.5s;
                        &:hover{
                            background-color: #eaeaeb;
                        }
                    }
                }



            }

            &.disable{
                display: none;
            }

        }
        .space-about{
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: #ffffff;
            border-radius:0 20px 20px 0;
            @include transition-ease(0.1s);
            &.disable{
                display: none;
            }
        }
    }
}


