
@font-face {
    font-family: "Flexo-Thin" ;
    src: url("../../../../public/fonts/Flexo-Thin.ttf");
}

.container-papeletas {
    &.desactive {
        display: none;
    }
}
@mixin transition-ease($time,$delay) {
    transition: all $time ease-in-out;
    transition-delay: $delay;
}
