body {
    margin: 0;
    padding: 0;
    width: 100wh;
    height: 100vh;
    background-color: #e9f0f8;
    overflow: hidden;
}

.fondo {
    background-color: #e9f0f8;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;

    .cuerpo {
        width: 95%;
        height: calc(100% - 35px);
        display: flex;
        margin-top: 35px;
        .nav_cuerpo {
            width: 300px;
            height: calc(100vh - 30px);
            position: fixed;
            margin-right: 30px;
            border-radius: 16px 16px 0 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            @include transition-ease($time-nav,0);
            .ola_superior{
                width: 100%;
                height: 130px;
                overflow: hidden;
                @include transition-ease($time-nav,0s);

                &__url{
                    transform: translateY(0px);
                    transition: all 0.3s ease-in-out;

                    &.active-complex{
                        transform: translateY(-130px);
                    }
                }
                .logo-pucu{
                    width: 100%;
                    height: auto;
                    //background-color: #22af29;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                    transition-delay: 0.1s;
                    &__url{
                        width: 100%;
                        height: 78px;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    &.active-complex{
                        height: 130px;
                        opacity: 1;
                    }
                }
            }
            .ola_inferior{
                width: 100%;
                height: 272px;
                overflow: hidden;
                @include transition-ease($time-nav,0s);

                &__url{
                    transform: translateY(0px);
                    transition: all 0.3s ease-in-out;

                    &.active-complex{
                        transform: translateY(300px);
                    }
                }
            }
            img {
                max-width: 100%;
                height: auto;
                @include transition-ease($time-nav,$delayg);
                // border: 1px solid black;
                // background-color: aqua;
            }
            .items {
                width: 220px;
                max-height: 500px;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 50px;
                @include transition-ease($time-nav,0);

                .item {
                    width: 100%;
                    height: 45px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    margin-bottom: 20px;
                    text-decoration: none;
                    cursor: pointer;
                    @include transition-ease(0.3s,0);


                    //border: 1px solid black;
                    &__icono {
                        width: 30px;
                        height: 30px;
                        margin-right: 20px;
                        background-repeat: no-repeat;
                        @include transition-ease(0.3s,0);
                        &.disable {
                            display: none;
                        }
                        &.active-complex{
                            margin-right: 0px;
                        }
                    }

                    &__icono--blanco {
                        width: 30px;
                        height: 30px;
                        margin-right: 20px;
                        background-repeat: no-repeat;

                        @include transition-ease(0.3s,0);
                        &.disable {
                            display: none;
                        }
                        &.active-complex{
                            margin-right: 0px;
                        }
                    }

                    span {
                        width: 140px;
                        height: 40px;
                        font-size: 16px;
                        font-family: "Flexo-Bold";
                        align-items: center;
                        display: flex;
                        text-align: left;
                        opacity: 1;
                        @include transition-ease(0.3s,0);


                        &.active-complex{
                            opacity: 0;
                            width: 0;
                        }
                    }
                    &:hover {
                        background-color: #cfe1f0;
                        // span{
                        //     color: #fff;
                        // }
                    }
                    &.active {
                        background-color: #62a8e0;
                        span {
                            color: #fff;
                        }
                    }
                    &.active-complex{
                        border-radius: 50%;
                        width: 45px;
                    }
                }
                &.active-complex{
                    width: 60px;
                }
            }

            &.active-complex{
                width: 70px;

            }

        }
        .seccion {
            width: calc(100% - 330px);
            height: 100%;
            margin-left: 330px;
            display: flex;
            flex-direction: column;
            // background-color: #62a8e0;
            @include transition-ease($time-nav,0);

            .barra {
                width: 100%;
                height: 60px;
                margin-bottom: 30px;
                background-color: rgb(255, 255, 255);
                border-radius: 16px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 10px 0 10px;
                @include transition-ease($time-nav,0);
                .burguer-icon {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .menu-burguer {
                        width: 30px;
                        height: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        cursor: pointer;
                        // background-color: rgb(231, 223, 238);
                    }

                    .menu-line {
                        height: 2px;
                        background-color: #000000;
                        border-radius: 3px;
                        transition: all 250ms
                            cubic-bezier(0.18, 0.89, 0.32, 1.28);
                    }

                    .menu-line:first-child {
                        animation: firstLinetoClose 240ms
                            cubic-bezier(0.23, 0.95, 0.58, 1.37);
                    }

                    .open .menu-line:first-child {
                        animation: firstLinetoOpen 240ms
                            cubic-bezier(0.23, 0.95, 0.58, 1.37);
                        animation-fill-mode: forwards;
                    }

                    @keyframes firstLinetoOpen {
                        0% {
                            transform: translateY(0);
                        }

                        50% {
                            transform: translateY(4.5px);
                        }

                        100% {
                            transform: translateY(9px) rotate(45deg);
                        }
                    }

                    @keyframes firstLinetoClose {
                        0% {
                            transform: translateY(10px) rotate(0);
                        }

                        100% {
                            transform: translateY(0);
                        }
                    }

                    .open .menu-line:nth-child(2) {
                        opacity: 0;
                    }

                    .menu-line:last-child {
                        animation: lastLinetoClose 240ms
                            cubic-bezier(0.23, 0.95, 0.58, 1.37);
                    }

                    .open .menu-line:last-child {
                        animation: lastLinetoOpen 240ms
                            cubic-bezier(0.23, 0.95, 0.58, 1.37);
                        animation-fill-mode: forwards;
                    }

                    @keyframes lastLinetoOpen {
                        0% {
                            transform: translateY(0);
                        }

                        50% {
                            transform: translateY(-4.5px);
                        }

                        100% {
                            transform: translateY(-9px) rotate(-45deg);
                        }
                    }

                    @keyframes lastLinetoClose {
                        0% {
                            transform: translateY(-10px);
                        }

                        100% {
                            transform: translateY(0);
                        }
                    }
                }
                .opciones {
                    // background-color: #cfe1f0;
                    width: 500px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    flex-direction: row-reverse;
                    padding: 0 10px 0 10px;
                    // border: 1px solid black;
                    .luna {
                        width: 40px;
                        height: 40px;
                        // background-color: #d1b3b3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        // margin-left: 70px;
                        margin-right: 10px;
                        // border: black 1px solid;
                        cursor: pointer;
                        user-select: none;

                        &__url {
                            width: 40px;
                            height: 35px;
                            top: 50%;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                    .screen {
                        width: 30px;
                        height: 40px;
                        // background-color: #d1b3b3;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;
                        margin-right: 20px;
                        // border: black 1px solid;
                        cursor: pointer;
                        user-select: none;

                        &__url {
                            width: 45px;
                            height: 25px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }

                    .card-usuario {
                        width: auto;
                        height: 40px;
                        border-left: 0.5px solid #adaaaa;
                        padding-left: 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .foto {
                            width: 60px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;

                            &__url {
                                width: 40px;
                                height: 40px;
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;
                                border-radius: 8%;
                            }
                        }
                        .info {
                            width: auto;
                            height: 40px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding-left: 10px;
                            // border: 1px solid black;
                            .nombre {
                                width: 100%;
                                height: 20px;
                                font-size: 18px;
                                font-family: "Flexo-Bold";
                                color: #000000;
                            }
                            .rol {
                                width: 100%;
                                height: 20px;
                                font-size: 14px;
                                font-family: "Flexo";
                                color: #7e8593;
                            }
                        }
                    }
                }
            }

            .contenido {
                width: 100%;
                height: calc(100% - 90px);
                // border: 1px solid black;
                // background-color: rgb(255, 255, 255);

            }
            &.active-complex{
                width: calc(100% - 100px);
                margin-left: 100px;
                // @include transition-ease(0.3s,0s);
            }
        }
    }
}


