body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // border: 10px solid rgb(47, 165, 0);
    // display: flex;
    // flex-direction: column;

    .vector_cabecera {
        position: fixed;
        width: 100%;
        height: 200px;
        background-size: cover;
        justify-content: center;
        // margin-bottom: 100%;
        z-index: 10;

        .logopucu {
            width: 100%;
            height: 80px;
            position: fixed;
            display: flex;
            justify-content: center;
            margin-top: 10px;

            .logo_marcagua {
                width: 700px;
                height: 80px;
                background-size: contain;
                background-repeat: no-repeat;

            }
        }

        .padreuser {
            width: 100%;
            height: 60px;
            display: flex;
            justify-content: end;
            align-items: center;
            margin-top: 25px;
            // background-color: aqua;

            .card-usuario {
                width: auto;
                height: 40px;
                border-left: 2px solid #ffffff;
                padding-left: 15px;
                display: flex;
                align-items: center;
                // justify-content: center;
                flex-direction: row-reverse;
                margin-right: 30px;
                // border: 1px solid black;
                .foto {
                    width: 60px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    // border: 1px solid black;
                    &__url {
                        width: 40px;
                        height: 40px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        border-radius: 8%;
                    }
                }
                .info {
                    width: auto;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: 10px;
                    .nombre {
                        width: 100%;
                        height: 20px;
                        font-size: 18px;
                        font-family: "Flexo-Heavy";
                        color: #ffffff;
                    }
                    .rol {
                        width: 100%;
                        height: 26px;
                        font-size: 14px;
                        font-family: "Flexo";
                        color: #e1ff00;
                    }
                }
            }
        }
    }

    .vectores {
        width: 100%;
        height: 690px;
        position: fixed;
        // margin-top: calc(100vh - 690px);
        bottom: 0;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        // background-color: aqua;

        .vector_izquierda {
            max-width: 40%;
            height: 690px;
        }
        .vector_derecha {
            max-width: 40%;
            height: 690px;
        }
    }

    .tarjetas {
        width: auto;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 200px;
        display: flex;
        justify-content: center;
        position: absolute;
        flex-wrap: wrap;
        padding: 50px;
        align-items: center;
        z-index: 5;
        // border: 10px solid rgb(228, 159, 11);
    }
}
