.contrasena{
    display: flex;
    justify-content: center;
    .seccion-password{
        margin: 30px 0;
        width: 500px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        .form-usuario-pass{
            // max-width: 100px;
            margin: 0px 50px;
            padding: 40px 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;


            .titulo-registro-usuario-pass{
                display: flex;
                justify-content: center;
                width: 100%;
                h1{
                    font-size: 1.5rem;
                }
            }
            .campo-estandar{
                width: 300px;
                margin: 10px 20px;

                label{
                    font-size: 1rem;
                    margin-left: 20px;
                    font-family: Flexo-Thin;
                }
                input{
                    border-radius: 25px;
                    height: 50px;
                }
                .alert-campo{
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    height: 10px;
                    font-size: 13px;
                    position: absolute;
                    // font-weight: bold;
                    span{
                        color: red;

                    }
                    margin-top: 5px;
                    margin-left: 20px;
                    @include transition-ease(0.4s,0);
                    &--disable{

                        opacity: 0;
                        visibility: hidden;

                        // display: none;
                    }
                }

            }

            .campo-buttons{
                width: 100%;
                display: flex;
                justify-content: center;
                // background-color: aqua;
                margin-top: 30px;
                .button-guardar-pass{
                    width: 130px;
                    height: 50px;
                    border-radius: 25px;
                    margin: 0 30px;

                }
            }
        }

    }
}

